#map-plug {display:none;}

#google-reviews {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.review-item {
    background: rgb(190 190 190 / 14%);
}

.review-meta, .review-stars {text-align:center; font-size:115%;}
.review-author { text-transform: capitalize; font-weight:bold; }
.review-date {opacity:.6; display:block;}
.review-text {text-align:left;}

.review-stars ul {
    display: inline-block;
    list-style: none !important;
    margin:0; padding:0;
}

.review-stars ul li {
    float: left;
    list-style: none !important;
    margin-right: 1px;
    line-height:1;
}

.review-stars ul li i {
    color: #E4B248;
    font-size: 1.4em;
    font-style:normal;
}
.review-stars ul li i.inactive { color: #c6c6c6;}
.star:after { content: "\2605"; }
.review-item{
    text-align: center;
    padding: 40px !important;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.review-item .review-img{
    display: block;
}

.review-img img{
    max-height: 80px;
    margin:0 auto;
    margin-bottom: 20px;
}

.review-date{
    margin-bottom: 10px;
}

.review-meta, .review-stars{
    margin-bottom: 10px;
}

.review-text{
    font-size: 16px;
    white-space: normal;
}

.review-stars ul li i{
    color: #ffc400;
}

.slick-slide{
    height: 320px!important;
    margin: 0 4px;
}

.slick-slider{
    width: 100%;
}

.review-item-wrapper{
    display: flex !important;
    justify-content: center;
    flex-wrap: nowrap;
}

i.slider-prev.fa.fa-chevron-left.slick-arrow {
    position: absolute;
    top: calc(50% - 18px);
    z-index: 10;
    background: white;
    padding: 10px;
    left: 10px;
}

i.slider-next.fa.fa-chevron-right.slick-arrow {
    position: absolute;
    top: calc(50% - 18px);
    z-index: 10;
    background: white;
    padding: 10px;
    right: 10px;
}

.slick-track {
    display: flex;
    align-items: center;
    gap: 10px;
}